@import 'stylebase';

#lists {
  grid-area: li;
  display: flex;
  flex-direction: column;
}

.listButton {
  margin-left: $mobile-margin;
  margin-right: $mobile-margin;
  margin-top: 5px;
  font-size: $mobile-font-size;
  border: 8px solid rgb(14, 13, 13);
  border-radius: 40px;
  background-color: white;
  outline: none;
}

@media (min-width: $desktop-transition) {
  #lists {
    margin-top: $mobile-margin;
  }
}
